<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/recources/static/css/common.css">
    <link rel="stylesheet" href="/recources/static/css/home-style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <img class="logoImg" src="/recources/static/img/logo-white-mini.png" alt="logo">
        <h1>BuildMent</h1>
        <a class="logout" id="logout-link" href="">Изход</a>
    </header>
    <div>
        <div class="text">
            Текст относно приложението
        </div>
        <div class="buttons">
            <button id="registration-btn">Регистрирай сграда</button>
            <button id="login-btn">Вход в профил</button>
        </div>
    </div>
    <footer>
        <div class="footer">
            <h2>© BuildMent 2024. All rights reserved.</h2>
        </div>
    </footer>
    <script src="/recources/templates/js/home.js"></script>
</body>
</html>