<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/recources/static/css/common.css">
    <link rel="stylesheet" href="/recources/static/css/home-user-style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img class="logoImg" src="/recources/static/img/logo-white-mini.png" alt="logo">
        <h1>BuildMent</h1>
        <a class="logout" id="logout-link" href="">Изход</a>
    </header>
    <div class="main">
        <div class="nav-bar">
            <ul class="nav-bar-buttons">
                <li><button id="start">Начало</button></li>
                <li><button id="information-table">Информационно табло</button></li>
                <li><button id="my-information">Моята информация</button></li>
                <li><button id="my-duty">Моите задължения</button></li>
                <li><button id="my-offers">Моите обяви</button></li>
            </ul>
        </div>
        <div id="start-info">
            <h2>Начало</h2>
        </div>
        <div id="info-table">
            <h2>Информационно табло</h2>
        </div>
        <div id="my-info">
            <h2>Моята информация</h2>
        </div>
        <div id="my-duty-info">
            <h2>Моите задължения</h2>
        </div>
        <div id="my-offers-info">
            <h2>Моите обяви</h2>
        </div>
        
    </div>
    <footer>
        <div class="footer">   
            <h2>© BuildMent 2024. All rights reserved.</h2>
        </div>
    </footer>
    <script src="/recources/templates/js/user-home.js"></script>
</body>
</html>