<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/recources/static/css/common.css">
    <link rel="stylesheet" href="/recources/static/css/home-user-style">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img class="logoImg" src="/recources/static/img/logo-white-mini.png" alt="logo">
        <h1>BuildMent</h1>
        <a class="logout" id="logout-link" href="">Изход</a>
    </header>
    <div class="main">
        <div class="nav-bar">
            <ul class="nav-bar-buttons">
                <li><button>Информационно табло</button></li>
                <li><button>Моята информация</button></li>
                <li><button>Моите задължения</button></li>
                <li><button>Моите обяви</button></li>
            </ul>
        </div>
        
    </div>
    <footer>
        <div class="footer">   
            <h2>© BuildMent 2024. All rights reserved.</h2>
        </div>
    </footer>
</body>
</html>