<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/recources/static/css/loginStyle.css">
    <link rel="stylesheet" href="/recources//static/css/common.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <header class="header">
        <img class="logoImg" src="/recources/static/img/logo-white-mini.png" alt="logo">
        <h1>BuildMent</h1>
    </header>
    <div class="main">
        <div class="logBox">
            <form class="loginBox">
                <h1 class="login-h1"><span>Влизане в профил</span></h1>
                <div class="usernameBox">
                    <div class="username">
                        <label for="username">Имейл</label>
                    </div>
                    <input type="text" id="username">
                </div>
                <div class="passwordBox">
                    <div class="password">
                        <label for="password">Парола</label>
                    </div>
                    <input type="text" id="password">
                </div>
                <div class="buttonLogin">
                    <button type="submit" id="button">Вход</button>
                </div>
            </form>
        </div>
        
    </div>
    <footer>
        <div class="footer">   
            <h2>© BuildMent 2024. All rights reserved.</h2>
        </div>
    </footer>
    <script src="/recources/templates/js/button.js"></script>
</body>

</html>