header {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
}
header h1{
    display: inline-block;
    position: absolute;
    color: white;
    padding-left: 15px;
}
.header {
    width: 100%;
    height: 90px;
    padding-top: 0.5rem;
    background: rgb(45, 49, 66);
    box-shadow: rgb(176, 215, 255) 0px 6px 0px;
}
.logout{
    color: white;
    text-decoration: none;
    position: absolute;
    display: inline-block;
    text-align: end;
    margin-left: 85%;
    margin-top: 30px;
}
.logout:hover{
    color: rgb(176, 215, 255);
}
footer{
    display: block;
}
.footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgb(45, 49, 66);
}
footer h2{
    padding-top: 10px;
    padding-left: 15px;
    font-size: 16px;
    color: rgb(216, 213, 219);
}
body {
    background-color: rgb(216, 213, 216);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logoImg {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding-left: 30px;
    padding-top: 5px;
}